{% extends 'home/base.html' %}

{% block backbtn %} <a href="{% url 'home' %}" class="btn btn-primary mt-4 ml-3"><i class="bi bi-backspace"><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-backspace"
            viewBox="0 0 16 16" style="margin-bottom: 3px;">
            <path
                d="M5.83 5.146a.5.5 0 0 0 0 .708L7.975 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z" />
            <path
                d="M13.683 1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zm-7.08 1a1 1 0 0 0-.76.35L1 8l4.844 5.65a1 1 0 0 0 .759.35h7.08a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1h-7.08z" />
        </svg></i> Back to Home</a> {% endblock backbtn %}

{% block content %}

<div class="container mt-5 d-flex justify-content-around">
    <a href="{% url 'read_news' %}" class="btn btn-primary">Read News</a>
    <a href="{% url 'sentiment_news' %}" class="btn btn-primary">Read Sentiment Value</a>
    <a href="{% url 'overall_news' %}" class="btn btn-primary">Read overall sentiment for now</a>
</div>

{% block newsContent %}
{% for key,value in news_content.items %}
<div class="mx-5 mt-5 px-5">
    <div class="alert alert-primary px-5" style="width: 900px;" role="alert">
        <h4 class="alert-heading">{{key}}</h4>
        <p>{{value}}</p>
    </div>
</div>
{% endfor %}
{% endblock newsContent %}

{% endblock content %}